<!DOCTYPE html>
<html>
<head>
  <title>Tom Brady's To-Do App</title>
  <link rel="shortcut icon" type="text/css" href="http://rghost.ru/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <h1 class="title">Tom Brady's To Do App</h1>
  <img class="poster" src="http://i.giphy.com/10YDcM18KiVPO0.gif">
  <a href="/tasks">See all tasks</a>
  <a href="/tasks/new">Create a new task</a>
</body>
</html>