<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>Show Page</h1>
<h1><%= task.subject %></h1>
<p><%= task.content %></p>
</body>
</html>