<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="shortcut icon" type="text/css" href="http://rghost.ru/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1><%= task.subject %></h1>
<p><%= task.content %></p>
<a href="/tasks/">Back to All</a>
</body>
</html>